 @{
    Page.Title = "Escriba el título aquí";
    Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <link type="text/css" rel="stylesheet" href="../Shared/Style.css" />

     <title>Contact</title>
</head>

    
<body>

 <div id="page-wrap">
<div id='cssmenu'>
<ul>
   <li><a href='../Default.cshtml'><span>Home</span></a></li>
    <li class='active'><a href='comentario.cshtml'><span>Contacto</span></a></li>
   <li ><a href='recomendaciones.cshtml'><span>Recomendar</span></a></li>
    <li ><a href='recomendacionesHechas.cshtml'><span>Recomendaciones</span></a></li>
   
</ul>
</div>
  
 <img src="../Shared/images/cthulu.png" alt="Photo of Cthulu" id="pic" />
   
    <form method="post" action="ProcessRequest.cshtml">

        <div id="contact-info" class="vcard">

            <br>
              <h1 class="fn">Contacto</h1>

            <dl>
                
                <dd class="clear"></dd>
            
                <dt>Nombre</dt>
                <dd>
                 <input type="text" name="customerName" />
                <p><strong></strong> <br />
                   <strong></strong> </p>
                </dd>
                
                <dd class="clear"></dd>
            
                <dt>Email</dt>
                <dd>
                 <input type="text" name="customerEmail"  /> 
                <p><strong></strong> <br />
                   <strong></strong> </p>
                </dd>
                
                <dd class="clear"></dd>
            
                <dt>Comentario</dt>
                <dd>
                  <textarea name="customerRequest" cols="45" rows="4"></textarea>
                <p><strong></strong> <br />
                   <strong></strong> </p>
                </dd>

            </dl>

            
        </div>
        <input  type="submit" name="Enviar" value="Enviar" />
        
    </form>
      </div>
</body>
    



</html>