@{
    var customerName = Request["customerName"];
    var customerEmail = "negrolose@gmail.com"; 
    var customerRequest = Request["customerRequest"];
    var errorMessage = "";
    var debuggingFlag = false;
    try {
        // Initialize WebMail helper
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 25;
        WebMail.UserName = "negrolose@gmail.com";
        WebMail.Password = "slipknot1q2w3e4r";
        WebMail.From = "negrolose@gmail.com";
        WebMail.EnableSsl = true;
        WebMail.SmtpUseDefaultCredentials = false;
       
        // Send email
        WebMail.Send(to: customerEmail,
            subject: "Help request from - " + customerName,
            body: customerRequest
        );
    }
    catch (Exception ex ) {
        errorMessage = ex.Message;
    }
}
<!DOCTYPE html>
<html>
<head>
  <title>Request for Assistance</title>
</head>
<body>
  <p>Gracias por su interes por mi persona, <b>@customerName</b>.</p>
    @if(errorMessage == ""){
      <p>El Correo fue enviado con exito, pronto le estare contestando.</p>
      <p><b></b></p>
    }
    else{
        <p><b>El Email <em>no</em> ha sido enviado.</b></p>
        <p>Por favor intentelo en otra ocasion. 
        </p>
        if(debuggingFlag){
            <p>The following error was reported:</p>
            <p><em>@errorMessage</em></p>
        }
    }
</body>
</html>