<!DOCTYPE html>
<html>
<head>
    <title>Request for Assistance</title>
</head>
   <style type="text/css">
      label {float:left; width: 8em; text-align: right;
               margin-right: 0.5em;}
      fieldset {padding: 1em; border: 1px solid; width: 35em;}
      legend {padding: 2px 4px; border: 1px solid; font-weight:bold;}
      .validation-summary-errors {font-weight:bold; color:red; font-size: 11pt;}
   </style>

<body>
  <h2>Submit Email Request for Assistance</h2>
  <form method="post" action="ProcessRequest.cshtml">
    <div>
        <label> Your name: </label>
        <input type="text" name="customerName" />
    </div>

    <div>
        <label> Your email address: </label>
        <input type="text" name="customerEmail" />
    </div>

    <div>
        <label> Details about your problem: </label><br />
        <textarea name="customerRequest" cols="45" rows="4"></textarea>
    </div>

    <div>
        <label>&nbsp;</label>
        <input type="submit" value="Enviar" />
    </div>
  </form>
</body>
</html>