@{
    Page.Title = "Escriba el título aquí";
    Layout = "~/Home.cshtml";
}

@{
    var db = Database.Open("ConnString");
    var query = "select * from Persona";

  
}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <link type="text/css" rel="stylesheet" href="Style.css" />


     <title>Mi Hoja de Vida</title>

   
</head>

<body>

    <div id="page-wrap">
<div id='cssmenu'>
<ul>
   <li class='active'><a href='index.html'><span>Home</span></a></li>
   <li><a href='#'><span>Products</span></a></li>
   <li><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
    
        <img src="images/cthulu.png" alt="Photo of Cthulu" id="pic" />

  
        <div id="contact-info" class="vcard">
        
                  
        <br>
                
            <h1 class="fn"></h1>
        
            <p>
                Telefono: <span class="tel"></span><br />
                Email: <a class="email" href="mailto:greatoldone@lovecraft.com"></a>
            </p>
        </div>
                
        <div id="objective">

            <p>
               
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Titulos</dt>
            <dd>
                <h2></h2>
                <p><strong></strong> <br />
                   <strong></strong> </p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experiencia</dt>
            <dd>
            
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
             
            </dd>
            
          
            
            <dt>References</dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
                
    </div>
                       
</body>
     
</html>