@{
    Page.Title = "Escriba el título aquí";
    Layout = "~/telefonos.cshtml";
}

@{
    if (IsPost)
    {
        var numero_Telefono = Request["telefono"];



        var insertQuery = "INSERT INTO Telefonos(id_Persona, Numero_telefono) VALUES('" + 1 + "',' " + numero_Telefono + "')";

        var db = Database.Open("ConnString");
        db.Execute(insertQuery);
    }   
 }

<html>

    <head>
   <title>Agregar Titulos</title>
   <style type="text/css">
      label {float:left; width: 8em; text-align: right;
               margin-right: 0.5em;}
      fieldset {padding: 1em; border: 1px solid; width: 35em;}
      legend {padding: 2px 4px; border: 1px solid; font-weight:bold;}
      .validation-summary-errors {font-weight:bold; color:red; font-size: 11pt;}
   </style>
</head>
    <body> 
<h1></h1> 
   <fieldset>
    <form action="" method="post">
        <div>
        <label>Numero de Telefono:</label>    
        <input type="text" name="telefono" value=" " /> 
            <input type="submit" name="Enviar" value="Enviar" />
        </div>
        </form>
       </fieldset>
